*,
::before,
::after {
  box-sizing: border-box;
}

/* * {
  border: 1px solid red;
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem 1rem;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25), 0 0 12px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  margin: 0 auto 2rem;
  text-align: center;
}

#new-color {
  font-weight: bolder;
  border: 8px solid transparent;
  padding: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-style: none;
  border-radius: 4px;
  font-weight: bolder;
  box-shadow: 0px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: black;
  color: white;
  transition: 0.05s ease-in-out;
}

button:hover,
button:active {
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(6px);
  transition: 0.05s ease-in-out;
  text-shadow: 0 0 3px rgb(0, 225, 255);
}
